

// FONT SIZES YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY


$header1: 15rem;
$header2: 10rem;
$header3: 5.6rem;
$header4: 3.2rem;
$header5: 2.8rem;
$header6: 1.1rem;
$text: 1.6rem;

$sub1: 2.8rem;
$sub2: 2.35rem;

$nav: 1.6rem;

$logo: 2.2rem;

$mainButton : 1.6rem;



// COLOR  YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY

// BLACK AND WHTIE

$black:black;
$white:white;

// PRIMARY

$main1: #D0D6F9;
$main2: #0B0D17;
$main3: #FFFFFF;

$grey: #83888f;
 
$element: #2C343E; 
$element2: #2C343E; 

$border: #191919;


//TEXT

$txt1: #ffffff;
$txt2: #D0D6F9;
$txt3: #0B0D17;














